{% EVENT dark1_reducesearchindex_search_notice_prepend %}
{% INCLUDECSS '@dark1_reducesearchindex/rsi_search_notice.css' %}
<p>{{ lang('RSI_NOTICE_RESTR', RSI_SEARCH_TIME) }}</p>
{% if RSI_SEARCH_IGN_COM_FLAG and RSI_SEARCH_IGN_COM_WORDS %}
<details>
	<summary class="rsi-summary">
		<b>{{ lang('RSI_NOTICE_IGN_COM') }}</b> [<i>{{ lang('RSI_NOTICE_DETAILS') }}</i>] <b>{{ lang('COLON') }}</b>
	</summary>
	<p>{{ RSI_SEARCH_IGN_COM_WORDS }}</p>
</details>
{% endif %}
{% EVENT dark1_reducesearchindex_search_notice_append %}
